/* CSS */

:root {
    /* These are set via JS Don't Change */
    --gridMin: 0;
    --gridGap: 0;
    --maxSpan: 1;
    /* ^ These are set via JS Don't Change ^ */

    --header-row: 1;
    --header-col: 1;
 
    --subHeader-row: 1;
    --subHeader-col: 1;

    --med-row: 2;
    --med-col: 3;

    --sm-row: 1;
    --sm-col: 1;

    --spanRowPixelSize: 100px;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .flexbox {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: calc(6% + 1.9vmin);
  }
  
  
  .card {
    background-size: cover;
    /* Change this based on the image main subject */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.61803%;
    transition: all 1s ease-in;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    justify-content: center;
    align-content: end;
    margin-bottom: 1em;
  }
  
  .grid-wrapper {
    display: grid;
    justify-content: center;
    align-content: end;
    grid-auto-rows: var(--spanRowPixelSize);
    grid-template-columns: repeat(var(--maxSpan), minmax(min-content, 1fr));
    grid-gap: 1em;
  }
  
  .header-image {
    grid-row: span var(--header-row);
    grid-column: span var(--header-col);
    background-image: url('https://unsplash.it/1503');
  }

  .subheader {
    grid-row: span var(--subHeader-row);
    grid-column: span var(--subHeader-col);
  }
  
  .subhead-image1 {
    background-image: url('https://unsplash.it/1505');
  }
  
  .subhead-image2 {
    background-image: url('https://unsplash.it/1508');
  } 
  
  .medSpan {
    grid-row: span var(--med-row);
    grid-column: span var(--med-col);
  }
  
  .smSpan {
    grid-row: span var(--sm-row);
    grid-column: span var(--sm-col);
  }
  
  .item4 {
    background-image: url('https://unsplash.it/1509');
  }
  
  .item5 {
    background-image: url('https://unsplash.it/1510');
  }
  
  .item6 {
    background-image: url('https://unsplash.it/1509');
  }
  
  .item7 {
    background-image: url('https://unsplash.it/1510');
  }
  
  .item8 {
    background-image: url('https://unsplash.it/1501');
  }
  
  .item9 {
    background-image: url('https://unsplash.it/1503');
  }
  
  .item10 {
    background-image: url('https://unsplash.it/1508');
  }
  
  .item11 {
    background-image: url('https://unsplash.it/1505');
  }
  
  .item12 {
    background-image: url('https://unsplash.it/1503');
  }  